<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\VotingAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ConnectionStrings__DbConnection" value="Server=sql8020.site4now.net;Database=db_acad70_votedb;User Id=db_acad70_votedb_admin;Password=Furkan@123;TrustServerCertificate=True" />
          <environmentVariable name="Jwt__Key" value="your_super_secret_key_here!!!!sdbhjsdjukfhdskjbfsdjkbfsdkbfdsdbfcskdfcndsbcjbd" />
          <environmentVariable name="Jwt__Issuer" value="VotingAPI" />
          <environmentVariable name="Jwt__Audience" value="voting-web" />
          <environmentVariable name="Jwt__ExpireDays" value="1" />
          <environmentVariable name="EmailSettings__Host" value="smtp.gmail.com" />
          <environmentVariable name="EmailSettings__Port" value="587" />
          <environmentVariable name="EmailSettings__Email" value="phonedev388@gmail.com" />
          <environmentVariable name="EmailSettings__Password" value="wzbo hpdn vlrb wrjw" />
          <environmentVariable name="BlockchainSettings__NodeUrl" value="https://ethereum-sepolia-rpc.publicnode.com" />
          <environmentVariable name="BlockchainSettings__AdminPrivateKey" value="0x2366e27581ff612c77d0e5fb703961cc0a83f22a6592f582441e601a4fc8fe55" />
          <environmentVariable name="BlockchainSettings__AccessControlAddress" value="0x03f97bF8027EC1AB2ceC71C1302225bf5a528911" />
          <environmentVariable name="BlockchainSettings__ZKVerifierAddress" value="0x59fd878f1d558B2aeAeAb77010E232A51Fb5f0cb" />
          <environmentVariable name="BlockchainSettings__VoterRegistryAddress" value="0x15d69C63e2e8264f676c89448C8Fd9749B65060e" />
          <environmentVariable name="BlockchainSettings__BallotFactoryAddress" value="0x57019aE800039ed3d644331c7804a582563DB841" />
          <environmentVariable name="BlockchainSettings__ResultAggregatorAddress" value="0x536BB5Ea4c59b6C2376dA13F7aB53849041Ec2CF" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>