<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\VotingAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ConnectionStrings__DbConnection" value="Server=sql8020.site4now.net;Database=db_acad70_votedb;User Id=db_acad70_votedb_admin;Password=Furkan@123;TrustServerCertificate=True" />
          <environmentVariable name="Jwt__Key" value="your_super_secret_key_here!!!!sdbhjsdjukfhdskjbfsdjkbfsdkbfdsdbfcskdfcndsbcjbd" />
          <environmentVariable name="Jwt__Issuer" value="VotingAPI" />
          <environmentVariable name="Jwt__Audience" value="voting-web" />
          <environmentVariable name="Jwt__ExpireDays" value="1" />
          <environmentVariable name="EmailSettings__Host" value="smtp.gmail.com" />
          <environmentVariable name="EmailSettings__Port" value="587" />
          <environmentVariable name="EmailSettings__Email" value="phonedev388@gmail.com" />
          <environmentVariable name="EmailSettings__Password" value="wzbo hpdn vlrb wrjw" />
          <environmentVariable name="BlockchainSettings__NodeUrl" value="https://ethereum-sepolia-rpc.publicnode.com" />
          <environmentVariable name="BlockchainSettings__AdminPrivateKey" value="0x2366e27581ff612c77d0e5fb703961cc0a83f22a6592f582441e601a4fc8fe55" />
          <environmentVariable name="BlockchainSettings__AccessControlAddress" value="0xa3ABb66C3491731d877D8bAD516A4f2E73b23F7c" />
          <environmentVariable name="BlockchainSettings__ZKVerifierAddress" value="0x796F6e9f288c791759EB414C430150FC71936C79" />
          <environmentVariable name="BlockchainSettings__VoterRegistryAddress" value="0x19CBE4D9C3b50eEA57E56aadB3bB01F0331f15e7" />
          <environmentVariable name="BlockchainSettings__BallotFactoryAddress" value="0xBd0c1d5Ca533003b2Fe6283Be47EB318bdb50A81" />
          <environmentVariable name="BlockchainSettings__ResultAggregatorAddress" value="0xeb9aeaB6349478263CC09B4316b03e970EbC7Fba" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>